@tailwind base;
@tailwind components;
@tailwind utilities;

// global color variables
$color-dublin-primary: #4D9D44;

:root {
  --foreground-rgb: 0, 0, 0;
  // --background-start-rgb: 214, 219, 220;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

// @media (prefers-color-scheme: dark) {
//   :root {
//     --foreground-rgb: 255, 255, 255;
//     --background-start-rgb: 0, 0, 0;
//     --background-end-rgb: 0, 0, 0;
//   }
// }

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.system-card {
  box-shadow: 0px 3px 10px -5px rgba(black, 0.3);
  transition: all .5s ease-in-out;
  background-color: white;
}
